
#div1  {
    border-width:thin 5px;
    /* border-style: double; */
    /* border-style: hidden; */
    /* border-style: dashed; */
    /* border-style: dotted; */
    /* border-style: groove; */
    /* border-style: inset; */
    /* border-style: outset; */
    /* border-style: ridge; */
    border-style: solid;
    border-color: grey;
    padding:2cap
}

